<li id="animal_food-<%= animal_food.id %>">
  (<span class="time"><%= animal_food.current_date.strftime("%e %b %Y")%></span>,
  <span class="time"><%= animal_food.time.strftime('%H:%M') %></span>)
  <span class="count">Count: <%= animal_food.count %></span>
  <span class="count">type: <%= Food.where(id: animal_food.food_id).first.name %></span>,
  <span class="count">calories: <%=animal_food.count * Food.where(id: animal_food.food_id).first.calories %></span>



  <span class="timestamp">
    Posted <%= time_ago_in_words(animal_food.created_at) %> ago.
    <% if current_user?(animal_food.animal.user) %>
      <%= link_to "delete", animal_food, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>