<%= high_chart_globals(globals("#00ff0")) %>
<%= high_chart("all_animal_food_chart", animal_calories)%>

<%= high_chart_globals(globals("#337ab7")) %>
<%= high_chart("my_animal_foods", my_animal_foods)%>
<%= high_chart_globals(globals("#00ff0")) %>
<%= high_chart("number_of_food", number_of_food)%>

<font color="#222"; size="8px"; style="padding-left: 370px">Animals of all users</font>

<div class="shadow p-3 mb-5 bg-white rounded">
  <table class="table table-bordered table-dark">
  <thead>
  <tr>
    <th scope="col" ;="" style="padding-left: 180px" bgcolor="#222"><font color="#eeeee"; size="4px">Animal type</font></th>
    <th scope="col" ;="" style="padding-left: 240px" bgcolor="#222"><font color="#eeeee"; size="4px">Avarage number of calories</font></th>
  </tr>
  </thead>
  <tbody>
  <% @animal_calories.each do |animal|%>
    <tr>
      <td><%= animal["type"]%></td>
      <td class="center"><%=animal["cround"]%></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>


<font color="#222"; size="8px"; style="padding-left: 440px">My animals</font>

<div class="shadow p-3 mb-5 bg-white rounded">
  <table class="table table-bordered table-dark">
    <thead>
    <tr>
      <th scope="col" ;="" style="padding-left: 180px" bgcolor="#222"><font color="#eeeee"; size="4px">Animal type</font></th>
      <th scope="col" ;="" style="padding-left: 240px" bgcolor="#222"><font color="#eeeee"; size="4px">Avarage number of calories</font></th>
    </tr>
    </thead>
    <tbody>
    <% @my_animal_calories.each do |animal|%>
      <tr>
        <td><%= animal["type"]%></td>
        <td class="center"><%=animal["output"]%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>