<%= form_for(@animal_food) do |f| %>
  <div class="field">
    <%= f.number_field :count%>
    <%= f.label :time %> <%= f.time_select(:time) %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>