<li id="animal"<%= animal.id %>">
    <%= link_to gravatar_for(animal.user, size: 50), animal %>
          <span class="user"> Animal: <%= animal.name %></span>
    <% if current_user?(animal.user) %>
      <%= link_to "delete", animal, method: :delete,
                  data: { confirm: "You sure?" } %>
      <%= link_to "select", animal%>

        </div>
<% end %>
</li>