<% provide(:title, @animal.name) %>
<h1><%= @animal.name %></h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'users/all_users' %>
    </section>
    <% if @current_user == actual_user %>
  <section class="animal_foods">
    <% if @food_count.nil? %>
  <%else %>
      <%= render 'animals/animal_food_form' %>
      <%end %>
    </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @animal.animal_foods.any? %>
      <h3>Animal was feed <%= @count %> times, <% @caloriesSql3.each do |animal|%> <%=animal["sum"]%><% end %> calories today</h3>
      <ol class="zviera">
        <%= render @animal_foods %>
      </ol>
      <%= will_paginate @animal_foods %>
      <%= high_chart_globals(globals("#008000")) %>
      <%= high_chart("animal_food_chart", animal_food_chart)%>


  <% end %>
  </div>
</div>