<% provide(:title, @animal.name) %>
<h1><%= @animal.name %></h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'users/all_users' %>
    </section>
    <% if @current_user == actual_user %>
      <% if @food_count.nil? %>
        </aside>
        </div>
        <h1>Create food!</h1>
  <section class="animal_foods">
  <%else %>
      <%= render 'animals/animal_food_form' %>
      <%end %>
    </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @animal.animal_foods.any? %>
      <h3>Animal was feed <%= @count %> times, <% @caloriesSql3.each do |animal|%> <%=@help=animal["sum"]%><% end %><%if @help.nil?%> 0 <%end%> calories today</h3>
      <% @animal_calories2.each do |animal|%><%@value = animal["cround"].to_i - @help.to_i%><%end %>
      <%if @value>-1 %>
      <font color="green">  <h3>Animal should get <%= @value%> calories</h3></font>
        <%else %>
        <font color="red">  <h3>Be cerafull, animal has got <%= @value.abs %> more calories, than average</h3></font>
  <%end %>
      <ol class="zviera">
        <%= render @animal_foods %>
      </ol>
      <%= will_paginate @animal_foods %>
      <%= high_chart_globals(globals("#008000")) %>
      <%= high_chart("animal_food_chart", animal_food_chart)%>


  <% end %>
  </div>
</div>